################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/fastapi
/models/__pycache__
/__pycache__
/Controllers/__pycache__
/.vs
/.vscode
/services/__pycache__/database.cpython-312.pyc
